<div class="mt-4 space-y-4">

  <div *ngIf="tasks && tasks.length > 0; else noTasks" class="space-y-4">
    
    @for (task of tasks; track task.title) {
      <div
        class="group flex items-center justify-between p-4 rounded-2xl bg-white border border-gray-100 shadow-sm hover:shadow-md transition-all duration-300"
        appHighlightStatus="{{ task.status }}"
        @fadeInOut>

        <!-- LEFT -->
        <div>
          <p class="text-lg font-semibold"
             [ngClass]="task.priority | priorityColor">
            {{ task.title }}
          </p>

          <p class="text-sm text-gray-500 mt-1 flex gap-2 items-center">
            <span class="px-2 py-0.5 rounded bg-gray-100 text-xs">
              {{ task.priority }}
            </span>

            <span
              class="px-2 py-0.5 rounded text-xs font-medium"
              [ngClass]="{
                'bg-green-100 text-green-700': task.status === 'Terminé',
                'bg-yellow-100 text-yellow-700': task.status === 'En cours',
                'bg-gray-100 text-gray-600': task.status === 'En attente'
              }">
              {{ task.status }}
            </span>
          </p>
        </div>

        <!-- RIGHT BUTTON -->
        <button
          class="flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-xl
                 bg-blue-500 text-white shadow-sm
                 hover:bg-blue-600 hover:shadow-md
                 active:scale-95
                 transition-all duration-200"
          (click)="changeStatus(task)">

         <p class="text-sm text-gray-500">
  {{ task.status | statusEmoji }} {{ task.status }}
</p>

        </button>

      </div>
    }

  </div>

  <ng-template #noTasks>
    <p class="text-gray-400 italic text-center">Aucune tâche</p>
  </ng-template>

</div>